html,
body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  @extend %unica-400;
  font-size: 13px;
  line-height: 1.3; 
  color: $text;
  background-color: #fff;
  letter-spacing: 0.005em;
}

.main{
  flex-grow: 1;
}

a{
  color: $text;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}