html,
body{
  height: 100%;
  transition: color 500ms ease,
  background-color 500ms ease;
}

body{
  display: flex;
  flex-direction: column;
  @extend %unica-400;
  font-size: 13px;
  line-height: 1.3; 
  color: var(--ui-dark);
  background-color: var(--ui-light);
  letter-spacing: 0.005em;
}

.main{
  flex-grow: 1;
}

a{
  color: var(--ui-dark);
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.main__container{
  padding: 0 10px;
}